/*
    Here I am purposefully attempting to copy amazon's navbar
    1. As the viewport width decreases, the ONLY thing that changes in size is the search bar, until a certain point. (that number is 1000px)
    2. Once the viewport width reaches the point, then everything maintains the same ratio as the viewport width.
    3. As you zoom in, everything gets bigger.
*/
body{
    margin:0px;
}
@font-face{
    font-family: Nunito;
    src: url(Nunito.ttf)
}
.content{
    margin-top: 70px;
}

.nav{
    position: fixed;
    top:0px;
    left:0px;
    font-family: Nunito;
    background-color: rgb(23, 23, 42);
    display: flex;
    width: 100vw;
    align-items: center;
    font-size: 20px;
    z-index: 10;
}
.profileImage{
    width: 45px;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.nav .profileImage img{
    width: 45px;
    height: 45px;
}

.username{
    color: white;
    text-decoration: none;
    margin-left: 40px;

}

.nav form{
    display: flex;
    background-color: orange;
    flex: 1;
    border: 1px solid rgb(255, 239, 209);
    border-radius: 7px;
    margin-left: 40px;
    height: 35px;
}
.nav .search{
    background-color: rgb(255, 249, 238);
    border: inherit;
    border-radius: inherit;
    font-size: 25px;
    width: calc(100% - 45px);
    padding:0;
    height: 34px;
}

.nav button{
    width: 42px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 10px;
}
.nav button:hover{
    cursor: pointer;
}

.nav button img{
    height: 22px;
    width: 22px;
}

.profile{
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 30px;
}

.profile p{
    margin:0;
}
.profile p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.profile img{
    margin: 0;
    margin-left: 2px;
    height: 10px;
    width: 10px;
}

.nav a img{
    width: 30px;
    height: 30px;
}
.cart{
    margin-right: 20px;
}

.popup{
    position: fixed;
    width:230px;
    height:200px;
    display:fixed;
    background-color: rgb(23, 23, 42);
    margin-top: 220px;
    transform: translate(-55%);
    border: 1px solid white;
    border-radius: 10px;
}

.popup p{
    text-align: right;
    margin: 0px;
    margin-top: 10px;
    margin-right: 10px;
}

.popup a{
    color: white;
    text-decoration: none;
}
.popup a:hover{
    text-decoration: underline;
}