{% extends "store/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'store/help.css' %}"> {% endblock %}

{% block content %}
    <h1 class="title">Welcome to my Online Shop!</h1>
    <p>Here I will explain how the site works</p>
    <p>In this shop, there are 3 types of profiles: Customer, Vendor, and Transit</p>
    <p>Each type has UNIQUE permissions, that no other type can have.</p>
    <p>A Customer can look at the available products, and purchase them.</p>
    <p>A Vendor can create products customers can buy, and will be able to see which products are currently
        "ordered" by a customer. Once confirmed, you can mark that order as "ship" to indicate to transit
        that the order is AVAILABLE to get picked up.
    </p>
    <p>Transit looks at all of the available orders to pick up, and chooses which ones will get picked up.
        Once picked up, they will mark when they are delivering it, and mark when they finish delivering it.
    </p>
    <p>EVERYONE involved with an order will be able to see the status of the order.</p>
{% endblock %}