{% extends "store/base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'store/index.css' %}"> {% endblock %}

{% block content %}
    <h1 class="title">Welcome to the Store</h1>
    <div class="products">
        {% for product in products %}
            <a href="{% url 'productView' product.id %}">
                <div class="product">
                    <img src="{{ product.picture.url }}">
                    <h1>{{product.title}}</h1>
                    <h2>${{product.price}}</h2>
                    <h3>{{product.averageScore}} / 5 ({{product.nReviews}})</h3>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}