{% extends 'store/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'store/yourOrders.css' %}"> {% endblock %}

{% block content %}

    {% for order in orders %}
        <div class="product">
            <img class="image" src="{{ order.product.picture.url }}">
            <div class="right">
                <h1 class="title">{{ order.product.title }}</h1>
                <p class="price">Price Per: ${{ order.product.price }}</p>
                <p class="qt">Quantity: {{ order.quantity }} </p>
                <p>Date Ordered: {{ order.date_placed }}</p>
                <p>Date Delivered: {{ order.date_delivered }}</p>
            </div>
            <div class="rightest">
                <p class="total">Cost: ${{order.totalCost}} </p>
                <p class="status":>Status: {{order.status}}</p>
            </div>
        </div>
    {% endfor %}
    

    <!--<script src="{% static 'store/cart.js' %}"></script>-->
{% endblock %}