{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'social/chat.css' %}">
</head>
<body>
    <a href="{% url 'index' %}">Home</a>

    {% for otherProfile in profile.followers.all %}
        <a class="link" href="{% url 'accountDetail' otherProfile.id %}">
            <div class="msg">
                <img src="{{ otherProfile.picture.url }}">
                <h2>{{ otherProfile.user.username }}</h2>
            </div>
        </a>
    {% endfor %}
</body>
</html>
